{
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 240,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "eslintIntegration": false,
    "jsxBracketSameLine": false,
    "tabWidth": 4
}